.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    background-color: #F5F8FD;
    height: 100%;
    padding: 40px 130px 0   130px;
}
.header {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-top: 78px;
    margin-bottom: 45px;
}
@media screen and (max-width: 700px) {
    .main {
        padding: 0 10px 0 10px;
    }
    .header {
        margin-top: 15px;
    }
}